In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "/Users/sambarton/matplotlib-challenge/data/Mouse_metadata.csv"
study_results_path = "/Users/sambarton/matplotlib-challenge/data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [30]:
mouse_data_complete.columns

Index(['Mouse ID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)',
       'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites'],
      dtype='object')

In [46]:
clean_mouse_metadata = df.drop_duplicates(subset=['Mouse ID'])
clean_mouse_metadata.head()

   Mouse ID
0      k403
10     s185
20     x401
30     m601
40     g791

In [47]:
mouse_data_complete = pd.merge(clean_mouse_metadata, study_results, on='Mouse ID', how="left")
mouse_data_complete

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        k403          0           45.000000                 0
1        k403          5           38.825898                 0
2        k403         10           35.014271                 1
3        k403         15           34.223992                 1
4        k403         20           32.997729                 1
...       ...        ...                 ...               ...
1888     z969         25           63.145652                 2
1889     z969         30           65.841013                 3
1890     z969         35           69.176246                 4
1891     z969         40           70.314904                 4
1892     z969         45           73.867845                 4

[1893 rows x 4 columns]