In [91]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "/Users/sambarton/matplotlib-challenge/data/Mouse_metadata.csv"
study_results_path = "/Users/sambarton/matplotlib-challenge/data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [111]:
#Merge Dataset
mouse_data_complete = pd.merge(mouse_metadata, study_results, on='Mouse ID', how="outer")
mouse_data_complete.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [112]:
#Sort Values So That We Can Find True Median
sortByTumorVolume = mouse_data_complete.sort_values(["Tumor Volume (mm3)"], ascending=True)
sortByTumorVolume.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
9,k403,Ramicane,Male,21,16,45,22.050126,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
7,k403,Ramicane,Male,21,16,35,26.546993,1

In [113]:
#Create A Summary Statistics Dataframe

In [115]:
#Groupby Drug Regimen
groupedDrugReg = mouse_data_complete.groupby(["Drug Regimen"])

In [119]:
#Finding the average
groupedDrugMean = groupedDrugReg["Tumor Volume (mm3)"].mean()

In [120]:
#Finding the median
groupedDrugMedian = groupedDrugReg["Tumor Volume (mm3)"].median()

In [121]:
#Finding the variance
groupedDrugVariance = groupedDrugReg["Tumor Volume (mm3)"].var()

In [122]:
#Finding the standard deviation
groupedDrugSTD = groupedDrugReg["Tumor Volume (mm3)"].std()

In [123]:
#Finding the SEM
groupedDrugSEM = groupedDrugReg["Tumor Volume (mm3)"].sem()

In [126]:
summaryStatisticTable = pd.DataFrame({
    "Mean": groupedDrugMean,
    "Median": groupedDrugMedian,
    "Variance": groupedDrugVariance,
    "Std. Deviation": groupedDrugSTD,
    "SEM":groupedDrugSEM
})
summaryStatisticTable

                   Mean     Median   Variance  Std. Deviation       SEM
Drug Regimen
Capomulin     40.675741  41.557809  24.947764        4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177        6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684        6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577        8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479        8.134708  0.596466
Placebo       54.033581  52.288934  61.168083        7.821003  0.581331
Propriva      52.322552  50.854632  42.351070        6.507770  0.512884
Ramicane      40.216745  40.673236  23.486704        4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562        7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355        6.966589  0.516398

In [133]:
#Counting Number Of Mice Tested In Each Study For Plots
drugRegimenDataPoints = mouse_data_complete.groupby(["Drug Regimen"]).count()["Mouse ID"]
drugRegimenDataPoints

Drug Regimen
Capomulin    230
Ceftamin     178
Infubinol    178
Ketapril     188
Naftisol     186
Placebo      181
Propriva     161
Ramicane     228
Stelasyn     181
Zoniferol    182
Name: Mouse ID, dtype: int64